name: CI

on: [push,pull_request]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -el {0}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest] #macos-latest/macos-14 is M1 - some deps
        python-version: ["3.9", "3.13"]

    steps:
      - uses: "actions/checkout@v3"
        with:
          fetch-depth: 0

      # Setup env
      - uses: "conda-incubator/setup-miniconda@v3"
        with:
          activate-environment: pharokka_env
          environment-file: environment.yml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
          channels: conda-forge,bioconda,defaults
          channel-priority: strict
          auto-update-conda: true
      - name: Install pharokka 
        shell: bash -l {0}
        run: |
          conda install python=${{ matrix.python-version }}
          python -m pip install --upgrade pip
          pip install -e .
      - name: Run tests and collect coverage
        run: pytest --cov=./ --cov-report=xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          version: v0.7.3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
